@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


/* styles/globals.css */
.font-raleway {
  font-family: var(--raleway), sans-serif;
}

.font-inter {
  font-family: var(--inter), sans-serif;
}

.font-poppins {
  font-family: var(--poppins), sans-serif;
}

/* @media () {
  :root {
    
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
